<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="title"> {{ action | uppercase }} Tarjeta</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <app-credit-card-form (updateList)="getCreditCards()" [info]="info"></app-credit-card-form>
        <app-credit-card-list (editInfo)="getEditInfo($event)" [listCards]="listCards" (updateList)="getCreditCards()"></app-credit-card-list>
    </div>
</div>