<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="title"> {{ action | uppercase }} Tarjeta</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="title">
                        <form [formGroup] = "form" (ngSubmit)="saveCard()">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <!-- <i class="fa-solid fa-user" [class.green-icon="this.form.get('holder')"]></i> --> 
                                    <i class="fa-solid fa-user" 
                                        [class.green-icon]="this.form.get('holder')?.valid"
                                        [class.red-icon]="this.form.get('holder')?.invalid && this.form.get('holder')?.touched"
                                    ></i>
                                </span>
                                <input formControlName="holder" type="text" class="form-control" placeholder="Titular" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-regular fa-credit-card"
                                        [class.green-icon]="this.form.get('cardNumber')?.valid"
                                        [class.red-icon]="this.form.get('cardNumber')?.invalid && this.form.get('cardNumber')?.touched"
                                    ></i>
                                </span>
                                <input type="text" formControlName="cardNumber" maxlength="16" class="form-control" placeholder="Numero de tarjeta"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-regular fa-calendar"
                                                [class.green-icon]="this.form.get('dueDate')?.valid"
                                                [class.red-icon]="this.form.get('dueDate')?.invalid && this.form.get('dueDate')?.touched"
                                            ></i>
                                        </span>
                                        <input formControlName="dueDate" maxlength="5" type="text" class="form-control" placeholder="MM/YY"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-key"
                                                [class.green-icon]="this.form.get('cvv')?.valid"
                                                [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
                                            ></i>
                                        </span>
                                        <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="CVV"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                    <i class="fa-solid fa-database"></i>
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="title">
                        LISTADO DE TARJETAS
                    </h5>
                    <table class="table">
                        <tbody>
                            @for (card of listCards; track card.cardNumber; let index=$index) {
                            <tr>
                                <td>{{card.holder}}</td>
                                <td>{{card.cardNumber}}</td>
                                <td>{{card.cvv}}</td>
                                <td>
                                    <i (click)="editCard(card)" class="far fa-regular fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <i (click)="deleteCard(card.id)" class="far fa-regular fa-trash-can text-danger"></i>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>