
    <div class="card">
        <div class="card-body">
            <h5 class="title">
                <form [formGroup] = "form" (ngSubmit)="saveCard()">
                    <label class="input-label" for="">Este campo es obligatorio.</label>
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-user" 
                                [class.green-icon]="this.form.get('holder')?.valid"
                                [class.red-icon]="this.form.get('holder')?.invalid && this.form.get('holder')?.touched"
                            ></i>
                        </span>
                            <span class="red-icon"></span>
                        <input formControlName="holder" type="text" class="form-control" placeholder="Titular" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <label class="input-label" for="">Ingresa un número de tarjeta válido de 16 dígitos.</label>
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-regular fa-credit-card"
                                [class.green-icon]="this.form.get('cardNumber')?.valid"
                                [class.red-icon]="this.form.get('cardNumber')?.invalid && this.form.get('cardNumber')?.touched"
                            ></i>
                        </span>
                        <input type="text" formControlName="cardNumber" maxlength="16" class="form-control" placeholder="Numero de tarjeta"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="row">
                        <div class="col-lg-7">
                            <label class="input-label" for="">Ingresa la fecha de vencimiento en el formato MM/AA.</label>
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-regular fa-calendar"
                                        [class.green-icon]="this.form.get('dueDate')?.valid"
                                        [class.red-icon]="this.form.get('dueDate')?.invalid && this.form.get('dueDate')?.touched"
                                    ></i>
                                </span>
                                <input formControlName="dueDate" maxlength="5" type="text" class="form-control" placeholder="MM/YY"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <label class="input-label" for="">Ingresa un código CVV válido de 3 dígitos.</label>
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-key"
                                        [class.green-icon]="this.form.get('cvv')?.valid"
                                        [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
                                    ></i>
                                </span>
                                <input formControlName="cvv" class="form-control" maxlength="3" type="password" placeholder="CVV"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                            <i class="fa-solid fa-database"></i>
                            Aceptar
                        </button>
                    </div>
                </form>
            </h5>
        </div>
    </div>