<nav class="navbar">
    <div class="navbar__nav">
        <div class="navbar__nav__logo">
            <span>Administrador</span>
        </div>

        <ul class="navbar__nav__links" >
            <li class="navbar__nav__links__item">
                <a class="navbar__nav__links__item__link" routerLink="/home">Inicio</a>
            </li>
            <li class="navbar__nav__links__item">
                <a class="navbar__nav__links__item__link" routerLink="/addcard">Agregar</a>
            </li>
        </ul>
        <div class="navbar__nav__user-settings" (click)="onSettingsClick()">
            settings
        </div>
        <div class="navbar__nav__menu" >
            <i class="fa-solid fa-bars" ></i>
        </div>
    </div>
</nav>